.journey{
    background: black;
}
.journey h1{
    color: #fafafd;
    font-size: 90px;
    font-weight: 600;
}
.heading{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;   
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin-left: 146px;
}

.container{
    position: relative;
    width: 50%;
    background: #6f6f73;
}

.text-box{
    padding: 20px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1);
    position: relative;
    border-radius: 6px;
    font-size: 15px;   
}

.left-container{
    left: 0;
    padding-right: 35px;
    border-radius: 7px;
}

.right-container{
    left: 50%;
    padding-left: 35px;
    border-radius: 7px;
}

.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -1px;
    top: 32px;
    z-index: 10;
}

.right-container img{
    left: -1px;
}

.timeline::after{
    content:' ';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;

}
@media(max-width: 768px){
    .timeline{
        margin-left: 0;
    }
    .container{
        width: 50%;
        margin-left: 25%;
        padding: 0 0 0 0;
    }
    .left-container, .right-container{
        left: 0;
    }
    .container img{
        position: relative;
        top: -1px;
        border-radius: 50%;
        
        
        z-index: 10;
    }
    .journey h1{
        color: #fafafd;
        font-size: 50px;
        font-weight: 600;
    }
    .heading img{
        width: 7%;  
    }
}
